.search-container {
  align-items: center;
  justify-content: center;
}
.search-container input {
  border-radius: 5px;
  border: 1px solid #39c;
  height: 1.5rem;
  margin-right: 4px;
}
.search-container button {
  text-decoration: none;
  padding: 0.5rem;
  font-weight: 600;
  font-size: 0.7rem;
  color: #1883ba;
  background-color: #ffffff;

  border-radius: 6px;
  border: 2px solid #343a40;
}
.search-container button:hover {
  color: #ffffff;
  background-color: #c1c0b9;
  cursor: pointer;
}
